body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  
  #contenedor {
    width: 500px;
    margin: 0 auto;
    text-align: center;
  }
  
  input {
    width: 100%;
    margin-bottom: 10px;
  }
  
  button {
    margin-top: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  